{% extends "/base.twig" %}

{% block main %}
<main>
<div id="titlequestions" ><h1 > Questions</h1></div>

<div>

{% for question in questions %}
<div  class="displayquestion">
 <p>{{question.label }}</p>
 <div>  
    <a href="getupdatequestion/{{question.id}}"><button type="submit" value={{question._id}}>Modifier</button></a>
    <a href="deletequestion/{{question.id}}"><button id="delete" type="submit" value={{question._id}}>Supprimer</button></a></div>
  
</div>
   
{% endfor %}

</div>

</main>


{% endblock %}

{% block script %}
{% endblock %}