{% extends "../base.twig" %}

{% block main %}
	<form id="quizzContainer" action="/addreply" method="post">
		{% for question in questions %}
			<div id="question{{ loop.index }}" {% if loop.index != 1 %} style="display: none" {% endif %}>
				<label for="">{{question.label}}</label>
				{% if question.type == "radio" or question.type == "checkbox" %}
					{% for choice in question.choices %}
						<p>{{choice}}</p>
						<input type="{{question.type}}" name="{{question.id}}">
					{% endfor %}

				{% else %}
					<input type="{{question.type}}">
				{% endif %}

				{% if loop.index != questions|length  %}
					<button onclick="next()" type="button">Suivant</button>
				{% else %}
					<button>Submit</button>
				{% endif %}
			</div>
		{% endfor %}

	</form>
{% endblock %}

{% block script %}
	<script src="/js/quizz.js"></script>
{% endblock %}
